<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.orderfoodafter.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="org.example.orderfoodafter.entity.Address">
    <!--@mbg.generated-->
    <!--@Table address-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, receiver, phone, province, city, district, detail_address, is_default, 
    create_time, update_time
  </sql>
</mapper>