<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.orderfoodafter.mapper.EvaluationMapper">
  <resultMap id="BaseResultMap" type="org.example.orderfoodafter.entity.Evaluation">
    <!--@mbg.generated-->
    <!--@Table evaluation-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="nickname" property="nickname"/>
    <result column="avatar" property="avatar"/>
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="shop_name" property="shopName"/>
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="dish_score" jdbcType="TINYINT" property="dishScore" />
    <result column="service_score" jdbcType="TINYINT" property="serviceScore" />
    <result column="environment_score" jdbcType="TINYINT" property="environmentScore" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="image_urls" jdbcType="VARCHAR" property="imageUrls" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="name" property="productname"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, shop_id, order_id, dish_score, service_score, environment_score, content, 
    image_urls, reply_content, create_time, update_time
  </sql>

  <select id="selectevaluationbyProductId" resultMap="BaseResultMap">
    SELECT e.id, e.order_id, e.user_id, u.nickname,u.avatar, e.shop_id, e.dish_score, e.service_score,
           e.environment_score, e.content, e.image_urls, e.create_time, p.id, p.name, p.price, oi.quantity, o.order_no,
           o.total_amount FROM evaluation e INNER JOIN `order` o ON e.order_id = o.id INNER JOIN order_item oi ON
      o.id = oi.order_id INNER JOIN product p ON oi.product_id = p.id INNER JOIN user u ON e.user_id = u.id WHERE p.id=#{ProductId}
    ORDER BY e.create_time DESC;
    </select>

  <select id="selectevaluationbyadmin" resultMap="BaseResultMap">
    SELECT 
      e.id,
      e.user_id,
      e.shop_id,
      e.order_id,
      e.dish_score,
      e.service_score,
      e.environment_score,
      e.content,
      e.image_urls,
      e.create_time,
      e.update_time,
      u.nickname as nickname,
      u.avatar as avatar,
      s.name as shop_name
    FROM evaluation e
    LEFT JOIN user u ON e.user_id = u.id
    LEFT JOIN shop s ON e.shop_id = s.id
    ${ew.customSqlSegment}
    ORDER BY e.create_time DESC
  </select>

  <select id="selectevaluationbyShopId" resultMap="BaseResultMap">
    SELECT a.id,a.dish_score,a.service_score,a.environment_score,a.content,a.image_urls,a.create_time,a.update_time,
    b.phone,b.nickname,
    c.phone,
    e.product_id,e.quantity,e.price,e.amount,e.remark,
    f.shop_id,f.category_id,f.`name`
    FROM `evaluation` a
    INNER JOIN `user` b oN a.user_id=b.id
    INNER JOIN shop c oN a.shop_id=c.id
    INNER JOIN `order` d oN a.order_id=d.id
    INNER JOIN order_item e ON d.id=e.order_id
    INNER JOIN product f ON e.product_id=f.id
    WHERE a.shop_id=#{ShopId}
  </select>

  <select id="selectevaluationbyShopIdWithQuery" resultMap="BaseResultMap">
    SELECT a.id,a.dish_score,a.service_score,a.environment_score,a.content,a.image_urls,a.create_time,a.update_time,
    b.phone,b.nickname,b.avatar,
    c.phone,
    e.product_id,e.quantity,e.price,e.amount,e.remark,
    f.shop_id,f.category_id,f.`name`
    FROM `evaluation` a
    INNER JOIN `user` b ON a.user_id=b.id
    INNER JOIN shop c ON a.shop_id=c.id
    INNER JOIN `order` d ON a.order_id=d.id
    INNER JOIN order_item e ON d.id=e.order_id
    INNER JOIN product f ON e.product_id=f.id
    ${ew.customSqlSegment}
    ORDER BY a.create_time DESC
  </select>
</mapper>