<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.orderfoodafter.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="org.example.orderfoodafter.entity.Member">
    <!--@mbg.generated-->
    <!--@Table `member`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="growth_value" jdbcType="INTEGER" property="growthValue" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, `level`, points, growth_value, expire_time, create_time, update_time
  </sql>
</mapper>